body {
  font-size: 16px;
  color: #000;
  background-color: #ffff;
  font-family: 'Lato', sans-serif;
}

/* Header */

h1 {
  padding-bottom: 30px;
}

#header-nav {
  background-color: #EDF5FF;
  border-radius: 0px;
  border: 0;
  text-align: center;
}

.navbar-brand {
  padding-top: 25px;
  margin: 0;
  height: 70px;
}

.navbar-brand h1 { /* Food, LLC */
  font-family: 'Lato', monospace;
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-bottom: 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 0px;
}

#nav-list a { /* Menu list */
  color: #586E8A;
  text-align: center;
  background-color: #F3FAFE;
}
#nav-list a:hover { /* Menu hover */
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

/* End Header */

/* Content Title */
.menu-categories-title {
  margin-top: 20px;
}

/* Content */

.content-description {
  position: relative;
  background-color: #EEF3F7;
  width: 90%;
  padding: 20px 30px 30px 30px;
  margin: 20px 30px 30px 40px;
  text-align: justify;
}

.content-details {
  font-size: .9em;
  text-align: justify;
}

h3 {
  margin: 20px 0 10px;
  text-align: center;
}

/* End Content */

/**** Responsive ****/

/* lg Desktop Devices */
@media (min-width: 1200px) {
  }
}

/* md ablet Devices */
@media (min-width: 992px) and (max-width: 1199px) {

  /* Header */

  /* Home Page */
  .container {
  }
  /* End Home Page */

/* sm Phone Devices */
@media (min-width: 768px) and (max-width: 991px) {

  /* Home Page */
  .container {
    height: 432px;
  }
  /* End Home Page */
}

/* xs Small Devices */
@media (max-width: 767px) {

  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  /* End Header */

  /* End Responsive */
